/* Fix stupid gap between pinned and normal tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] {
    margin-inline-start: initial !important;
}

/* Remove tracker shield icon from url bar */
#tracking-protection-icon-container {display: none!important;}

/* Reposition the container color bar to the sides of the tab */

#tabbrowser-tabs .tab-context-line {
    display: none;
}

#tabbrowser-tabs .tab-background {
    border-right: solid 2px var(--identity-icon-color) !important;
    border-left: solid 2px var(--identity-icon-color) !important;
    transition: all .15s ease-in-out !important;
}

#tabbrowser-tabs .tab-background[selected="true"] {
    border-right: solid 5px var(--identity-icon-color) !important;
    border-left: solid 5px var(--identity-icon-color) !important;
}

/* Disable preferences menu items */
#appMenu-history-button {display: none !important;}
#appMenu-bookmarks-button {display: none !important;}
#appMenu-passwords-button {display: none !important;}
#appMenu-more-button2 {display: none !important;}
#appMenu-help-button2 {display: none !important;}
#appMenu-quit-button2 {display: none !important;}
#appMenu-settings-button ~ toolbarseparator {
  display: none;
}
