/* Remove scrollbar */
*{ scrollbar-width: none !important }

/* Clean up Private Mode screen */
@-moz-document url-prefix(about:privatebrowsing) {
  .logo-and-wordmark, .search-inner-wrapper {
    display: none !important;
  }

  .info {
    margin: 0 !important;
  }
}
