* {
    font-family: monospace;
    font-size: 14px;
}

window#waybar {
    background-color: #000000;
    color: #BBBBBB;
    transition-duration: .5s;
}

#workspaces button {
    padding: 0 6px;
    background-color: transparent;
    color: #BBBBBB;
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: #1E1E1E;
    box-shadow: inset 0 -1px #BBBBBB;
}

#workspaces button.focused {
    background-color: #0D73CC;
    color: #FFFFFF;
    box-shadow: inset 0 -1px #FFFFFF;
}

#workspaces button.urgent {
    background-color: #CC0403;
}

#mode {
    padding: 0 8px;
    background-color: #CECB00;
}

#clock{
    padding: 0 8px;
    color: #BBBBBB;
}

#battery{
    padding: 0 8px;
    color: #19CB00;
}

#cpu{
    padding: 0 8px;
    color: #CB1ED1;
}

#temperature{
    padding: 0 8px;
    color: #0DCDCD;
}

#memory{
    padding: 0 8px;
    color: #0DCDCD;
}

#backlight{
    padding: 0 8px;
    color: #CC0403;
}

#network{
    padding: 0 8px;
    color: #0D73CC;
}

#pulseaudio{
    padding: 0 8px;
    color: #CECB00;
}

#mpd {
    padding: 0 8px;
    color: #CC6903;
}

#workspaces {
    margin: 0 4px;
}

#mode {
    padding: 0 8px;
    color: #000000;
}

#window,
#disk,
#temperature,
#custom-media,
#idle_inhibitor,

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}
