#outer-box {
	border: 2px solid #0D73CC;
}

#window {
	background-color: #000000;
    font-family: monospace;
}

#text:selected {
	color: #FFFFFF;
}

#input {
	margin: 4px;
	border: 1px solid #BBBBBB;
	background-color: #1E1E1E;
}

#scroll {
	margin: 2px 2px 3px 2px;
}

#entry {
	padding: 2px 4px;
	margin: 1px 2px;
}

#entry:selected {
	background-color: #0D73CC;
}
